body {
  padding: 100px
}

div.cloudappItem pre {
  margin: 10px;
}

div.cloudappItems a {
  display: inline-block;
}

div.cloudappItems img {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  display: block;
}
